.List {
  background-color: white;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.125rem;
}

.List ul {
  margin-bottom: 2rem;
}

.List li {
  list-style: none;
}

.List li:hover{
  font-size: 1.5rem;
  border-radius: 0.125rem;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.1);
  padding:10px;
  margin-right: 40px;
}
